@import "vars";
@import "fonts";
@import "global";
@import "media";
@import "reset";
@import "libs";

.header {

  &__inner {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    transition: padding 0.4s;
    z-index: 100;
    background-color: $white;
    padding-top: 45px;
  }

  .header-fixed {
    padding: 16px 0;
    background-color: rgb(242, 244, 247);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-list-item {
    color: $dark-blue;
    @extend %transition;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      color: $pink;
    }
  }

  &__user-btn {
    @extend %rubik-500;
    @extend %transition;

    &:hover {
      color: $pink;
    }

    &--active {
      padding: 13px 45px;
      border-radius: 50px;
      border: 1px solid $pink;
      color: $pink;
      @extend %transition;

      &:hover {
        border: 1px solid transparent;
        background-color: $pink;
        color: $white;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.preview {
  padding: 190px 0 103px;

  &__inner {
    padding: 24px 0;
    background-position: right;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 555px;
  }

  &__title {
    color: $dark;
    @extend %rubik-500;
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 20px;

    & span {
      @extend %rubik-700;
    }
  }

  &__text {
    margin-bottom: 50px;

    span {
      @extend %rubik-500;
    }
  }

  &__btn {
    background-color: $dark-pink;
    border-radius: 10px;
    color: $white;
    @extend %rubik-700;
    padding: 18px 78px;
    line-height: 25px;
    border: 1px solid transparent;
    @extend %transition;

    &:hover {
      color: $dark-pink;
      background-color: #fff;
      border: 1px solid $dark-pink;
    }
  }
}

.info {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-item {
    padding-left: 91px;
    position: relative;

    &::after {
      width: 55px;
      height: 55px;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &--user::after {
      background-image: url("../images/icons/user.svg");
    }

    &--location::after {
      background-image: url("../images/icons/location.svg");
    }

    &--server::after {
      background-image: url("../images/icons/server.svg");
    }
  }

  &__list-text {
    font-size: 25px;
    @extend %rubik-700;
    color: $dark;

    & span {
      @extend %rubik-400;
      display: block;
      font-size: 20px;
      color: $dark-blue;
      margin-top: 5px;
    }
  }
}

.features {
  padding-bottom: 131px;

  &__inner {
    padding-top: 80px;
    background-position: left;
    background-repeat: no-repeat;
  }

  &__content {
    margin-left: auto;
    max-width: 430px;
  }

  &__title {
    max-width: 384px;
  }

  &__text {
    max-width: 428px;
    margin-bottom: 20px;
  }

  &__list-item {
    font-size: 14px;
    padding-left: 34px;
    position: relative;

    &::after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/icons/check.svg");
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.services {
  text-align: center;
  padding-bottom: 150px;

  &__text {
    margin-bottom: 60px;
    max-width: 555px;
    display: inline-block;
  }

  &__list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 79px 70px 50px 70px;
    border-radius: 10px;
    border: 2px solid #ddd;
    @extend %transition;
    height: 760px;

    &:hover {
      border: 2px solid $pink;
    }
  }

  &__list-img {
    margin-bottom: 30px;
  }

  &__list-title {
    margin-bottom: 30px;
    color: $dark;
    @extend %rubik-500;
    font-size: 18px;
  }

  &__list-advantages {
    padding-left: 44px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../images/icons/jam-check.svg");
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list-price {
    margin-top: auto;
  }

  &__list-cost {
    color: $dark;
    font-size: 25px;
    @extend %rubik-400;
    margin-bottom: 20px;
    text-align: center;

    & span {
      color: $dark-blue;
      font-family: Rubik;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }

  &__list-btn {
    padding: 13px 63px;
    border-radius: 50px;
    border: 2px solid $dark-pink;
    color: $dark-pink;
    font-size: 16px;
    @extend %rubik-700;
    @extend %transition;

    &:hover {
      background-color: $dark-pink;
      color: $white;
    }
  }
}

.benefits {
  text-align: center;
  padding-bottom: 109px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 383px;
  }

  &__text {
    max-width: 555px;
    margin-bottom: 150px;

    & span {
      @extend %rubik-500;
      font-size: 16px;
    }
  }
}

.reviews {
  padding-bottom: 60px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 447px;
  }

  &__text {
    max-width: 555px;
    margin-bottom: 60px;
  }

  &__list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 120px;
  }

  &__list-item {
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 15px;
    @extend %transition;
    min-height: 230px;

    &:hover {
      border: 2px solid $pink;
    }
  }

  &__list-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__list-user {
    color: $dark;
    font-size: 18px;
    @extend %rubik-500;
    line-height: 1.6;
    margin-right: auto;

    & span {
      display: block;
      @extend %rubik-400;
      color: $dark-blue;
      font-size: 14px;
    }
  }

  &__list-rating {
    padding-right: 26px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url("../images/icons/star.svg");
    }
  }

  &__list-img {
    margin-right: 20px;
    border-radius: 50%;
  }

  &__list-text {
    max-width: 340px;
    color: $dark;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 60px;
    border: 2px solid $dark-pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    right: 0;
    @extend %transition;

    & svg {
      width: 20px;
      height: 17.502px;
      fill: $dark-pink;
      @extend %transition;
    }

    &:focus {
      background-color: $dark-pink;

      & svg {
        fill: $white;
      }
    }
  }

  .slick-prev {
    right: 0;
    transform: scale(-1, 1);
  }

  .slick-next {
    right: 80px;
  }

  .slick-slide {
    margin-right: 40px;
  }

  .slick-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;

    & li {
      line-height: 0;

      &:not(:last-child) {
        margin-right: 15px;
      }

      & button {
        padding: 0;
        font-size: 0;
        background-color: #dde0e4;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }

    .slick-active {
      button {
        background-color: $dark-pink;
        width: 45px;
        border-radius: 25px;
      }
    }
  }
}

.subscribe {
  padding: 60px 0 123px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
  }

  &__contnet {
    max-width: 410px;
  }

  &__title {
    max-width: 371px;
  }

  &__btn {
    padding: 18px 75px;
    background-color: $dark-pink;
    color: $white;
    line-height: 25px;
    @extend %rubik-700;
    border-radius: 10px;
    @extend %transition;
    border: 1px solid transparent;

    &:hover {
      background-color: $white;
      color: $dark-pink;
      border: 1px solid $dark-pink;
    }
  }
}

.footer {
  background-color: #f8f8f8;
  padding-bottom: 100px;
  padding-top: 60px;

  &__inner {
    display: grid;
    grid-template-columns: 340px 575px;
    gap: 230px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 30px;

    & span {
      color: $dark-blue;
      @extend %rubik-500;
    }
  }

  &__socials-list {
    display: flex;
    margin-bottom: 30px;
  }

  &__socials-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__social-link {
    background-color: $white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    @extend %transition;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    svg {
      height: 20px;
      fill: $dark-pink;
      @extend %transition;
    }

    &:hover {
      background-color: $dark-pink; 

      svg {
      fill: $white;
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 74px 124px 122px;
    gap: 126px;
  }

  &__nav-title {
    color: $dark;
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__nav-link {
    @extend %transition;
    
    &:hover {
      color: $dark-pink;
    }
  }
  
}

